<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>olx</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>
		</description>
		<display-name>CommonController</display-name>
		<servlet-name>CommonController</servlet-name>
		<servlet-class>com.olx.controller.CommonController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FileUploadController</display-name>
		<servlet-name>FileUploadController</servlet-name>
		<servlet-class>com.olx.controller.FileUploadController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommonController</servlet-name>
		<url-pattern>/CommonController</url-pattern>
	</servlet-mapping> 
</web-app>
